@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1640px;
  color: #5f454e;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #5f454e;
  font-weight: 400;
}

section {
  border: none;
  padding: 0 7%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5f454e;
}

a:hover {
  color: #a58076;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  background-color: #5f454e;
  border-radius: 10px;
  min-width: 250px;
  min-height: 50px;
  width: 30%;
}

button:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background-color: #a58076;
  border: 1px solid #ffffff;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 650%;
  color: #ffffff;
  font-weight: 600;
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  color: #5f454e;
  font-weight: 700;
}

.txt {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #5f454e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .txt {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .txt {
    font-size: 60%;
  }
}

.txt__bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #5f454e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .txt__bottom {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .txt__bottom {
    font-size: 60%;
  }
}

.sticky {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999999;
}
.sticky .sticky__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  background-color: #5f454e;
  min-width: 250px;
  min-height: 50px;
  width: 30%;
}
@media (max-width: 500px) {
  .sticky .sticky__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: #ffffff;
    font-weight: 400;
    min-width: 180px;
  }
}
.sticky .sticky__btn:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background-color: #a58076;
}

.header {
  grid-area: 1/1/2/2;
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #5f454e;
  font-weight: 600;
  background: linear-gradient(#f5ebe3, #ffffff);
  padding: 0 5%;
}
.header .header__contacts {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content: space-around;
  text-align: center;
}
.header .header__contacts .header__phones {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.header .header__contacts .header__logo {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150%;
  margin-left: 15%;
}
@media (max-width: 768px) {
  .header .header__contacts .logo__img {
    display: none;
    max-width: 100%;
  }
}
.header .header__contacts .logo__img-short {
  display: none;
}
@media (max-width: 768px) {
  .header .header__contacts .logo__img-short {
    display: block;
    max-width: 50%;
  }
}
.header .header__contacts .header__address {
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__nav {
  grid-area: 2/1/3/2;
  width: 100%;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .header .header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    padding: 0 10%;
  }
}

main {
  background-color: #ffffff;
}

footer {
  background: linear-gradient(#ffffff, #f5ebe3);
}
footer .rights {
  background-color: #5f454e;
  color: #ffffff;
  font-size: 80%;
}
@media (max-width: 500px) {
  footer .rights {
    font-size: 60%;
  }
}

.container {
  display: grid;
  grid-template: 20% 1fr 5%/100%;
}

.header {
  grid-template: 60% 40%/100%;
}
.header .header__contacts {
  grid-template-columns: 100%/1fr 1.5fr 1fr;
}
.header .header__phone {
  font-size: 80%;
}
@media (max-width: 768px) {
  .header .txt {
    font-size: 100%;
  }
}
@media (max-width: 500px) {
  .header .txt {
    font-size: 70%;
  }
}

.reviews {
  grid-template: 10% 90%/100%;
}

.reviews__container {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2%;
}
@media (max-width: 768px) {
  .reviews__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .reviews__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.reviews__container .reviews__img {
  max-width: 100%;
}

.footer .information {
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
}
.footer .information .information-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  background: linear-gradient(#f5ebe3, #ffffff);
}
@media (max-width: 768px) {
  .footer .information .information-block .information__logo {
    height: 70%;
    width: 70%;
  }
}
.footer .rights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5% 0;
  background-color: #a58076;
  color: #ffffff;
}

.txt__bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #5f454e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .txt__bottom {
    font-size: 80%;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .txt__bottom {
    font-size: 60%;
  }
}/*# sourceMappingURL=reviews.css.map */