@import "../vars";
@import "../template";
.container {
    display: grid;
    grid-template: 20% 1fr 5% / 100%;
}
.header {
    grid-template: 60% 40%/ 100%;
    .header__contacts {
        grid-template-columns: 100% / 1fr 1.5fr 1fr;
    }
    .header__phone {
        font-size: 80%;
    }
    .txt {
        @include _tablet {
            font-size: 100%;
        }
        @include _mobile {
            font-size: 70%;
        }
    }
}
.reviews {
    grid-template: 10% 90% / 100%;
}
.reviews__container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
    @include _tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }
    @include _mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    } 
    .reviews__img {
        max-width: 100%;
    }
}
.footer {
    .information {
        display: grid;
        grid-template-columns: 6fr 1fr 6fr;
        .information-block {
            display: flex;
            @include flex(row, space-around, center);
            padding-bottom: 5%;
            background: linear-gradient($colorbeige, $colorwhite);
            .information__logo {
                @include _tablet {
                height: 70%;
                width: 70%;
                }
            }
        }
    }
    .rights {
        display: flex;
        @include flex(row, center, center);
        padding: 1.5% 0;
        background-color: $colorbrown;
        color: $colorwhite;
    }
}
.txt__bottom {
    @include font($font, 150%, $colorplum, 700);
    @include _tablet {
        font-size: 80%;
        font-weight: 500;
    }
    @include _mobile {
        font-size: 60%;
    }
}
