$colorbeige: #f5ebe3;
$colorwhite:#ffffff;
$colorbrown:#a58076;
$colorplum: #5f454e;
$font: 'Open Sans', sans-serif;

@mixin font($ff,$fs,$fc, $fw) {
    font-family: $ff;
    font-size: $fs;
    color: $fc;
    font-weight: $fw;
}
@mixin flex($fd,$jc,$ai) {
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}