@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1640px;
  color: #5f454e;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #5f454e;
  font-weight: 400;
}

section {
  border: none;
  padding: 0 7%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5f454e;
}

a:hover {
  color: #a58076;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  background-color: #5f454e;
  border-radius: 10px;
  min-width: 250px;
  min-height: 50px;
  width: 30%;
}

button:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background-color: #a58076;
  border: 1px solid #ffffff;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 650%;
  color: #ffffff;
  font-weight: 600;
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  color: #5f454e;
  font-weight: 700;
}

.txt {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #5f454e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .txt {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .txt {
    font-size: 60%;
  }
}

.txt__bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: #5f454e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .txt__bottom {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .txt__bottom {
    font-size: 60%;
  }
}

.sticky {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999999;
}
.sticky .sticky__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  background-color: #5f454e;
  min-width: 250px;
  min-height: 50px;
  width: 30%;
}
@media (max-width: 500px) {
  .sticky .sticky__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: #ffffff;
    font-weight: 400;
    min-width: 180px;
  }
}
.sticky .sticky__btn:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background-color: #a58076;
}

.header {
  grid-area: 1/1/2/2;
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #5f454e;
  font-weight: 600;
  background: linear-gradient(#f5ebe3, #ffffff);
  padding: 0 5%;
}
.header .header__contacts {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content: space-around;
  text-align: center;
}
.header .header__contacts .header__phones {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.header .header__contacts .header__logo {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150%;
  margin-left: 15%;
}
@media (max-width: 768px) {
  .header .header__contacts .logo__img {
    display: none;
    max-width: 100%;
  }
}
.header .header__contacts .logo__img-short {
  display: none;
}
@media (max-width: 768px) {
  .header .header__contacts .logo__img-short {
    display: block;
    max-width: 50%;
  }
}
.header .header__contacts .header__address {
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__nav {
  grid-area: 2/1/3/2;
  width: 100%;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .header .header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    padding: 0 10%;
  }
}

main {
  background-color: #ffffff;
}

footer {
  background: linear-gradient(#ffffff, #f5ebe3);
}
footer .rights {
  background-color: #5f454e;
  color: #ffffff;
  font-size: 80%;
}
@media (max-width: 500px) {
  footer .rights {
    font-size: 60%;
  }
}

.container {
  display: grid;
  grid-template: 12% 1fr 10.5%/100%;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .container {
    grid-template: 15% 1fr 10.5%/100%;
  }
}
@media (max-width: 500px) {
  .container {
    grid-template: 15% 1fr 10.5%/100%;
  }
}

.header {
  grid-template: 70% 30%/100%;
}
@media (max-width: 768px) {
  .header {
    grid-template: 75% 25%/100%;
  }
}
@media (max-width: 500px) {
  .header {
    grid-template: 60% 40%/100%;
  }
}
.header .header__contacts {
  grid-template-columns: 100%/1fr 1fr 1fr;
  gap: 1%;
}
@media (max-width: 768px) {
  .header .header__contacts {
    grid-template: 100%/2fr 1fr 2fr;
    font-family: "Open Sans", sans-serif;
    font-size: 80%;
    color: #5f454e;
    font-weight: 700;
  }
}
@media (max-width: 500px) {
  .header .header__contacts {
    font-family: "Open Sans", sans-serif;
    font-size: 50%;
    color: #5f454e;
    font-weight: 700;
  }
}
.header .header__nav {
  padding: 5%;
  width: 100%;
}
.header .header__logo {
  width: 80%;
}
.header .logo__img {
  max-width: 100%;
}
.header .logo__link {
  display: flex;
  justify-content: center;
}

.contacts {
  padding: 1% 5%;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}
@media (max-width: 768px) {
  .contacts {
    grid-template-rows: 1fr 45%;
  }
}
@media (max-width: 500px) {
  .contacts {
    grid-template-rows: 35% 1fr;
    padding-top: 1%;
  }
}
.contacts .contacts__map-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}
.contacts .contacts__map {
  min-width: 280px;
  min-height: 300px;
  width: 100%;
  border: 1px solid #5f454e;
  border-radius: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer .information__logo-wrapper {
  width: 70%;
}
@media (max-width: 768px) {
  .footer .information__logo-wrapper {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .footer .information__logo-wrapper {
    display: none;
  }
}
.footer .information__logo {
  width: 100%;
  padding-bottom: 5%;
}
.footer .information {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
}
.footer .information .information-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  padding-bottom: 5%;
}
.footer .rights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5% 0;
  width: 100%;
}/*# sourceMappingURL=contacts.css.map */