@import "../vars";
@import "../template";
* {
    border: solid 1px;
}
.container {
    display: grid;
    grid-template: 6% 1fr 0.1fr/ 100%;
    min-height: 200vh;
}
.header {
    grid-template: 70% 30%/ 100%;
    .header__contacts {
        grid-template-columns: 100% / 1fr 1fr 1fr;
        gap: 1%;
    }
    .header__logo {
        width: 80%;
    }
    .logo__img {
        max-width: 100%;
    }
}
.rooms {
    display: grid;
    grid-template-rows: 2% 6% 1fr 20%;
    padding: 2% 3%;
    .smalltitle {
        @include font($font, 200%, $colorplum, 700);
        padding: 0;
    }
    .text_1 {
        padding: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .rooms__text {
        padding: 1%;
        @include font($font, 160%, $colorplum, 400);
    }
    .rooms__container {
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
        gap: 2%;
        @include _mobile {
            display: flex;
            flex-direction: column;
        }
    }
    .rooms__subtitle {
        text-align: center;
        @include font($font, 160%, $colorplum, 700);
    }
    .carousel-item img {
        max-height: 100%;
    }
    .rooms__attention {
        padding-top: 7%;
        padding-bottom: 1%;
        overflow-y: auto;
    }
    button {
        @include font($font, 130%, $colorwhite, 400);
        cursor: pointer;
        background-color: $colorplum;
        border-radius: 10px;
        min-width: 250px;
        min-height: 50px;
        width: 30%;
        margin: 1%;
    }
    .rooms__item,
    .rooms__price {
        @include font($font, 130%, $colorplum, 400);
    }
}
.footer {
    .information {
        display: grid;
        grid-template-columns: 6fr 1fr 6fr;
        .information-block {
            display: flex;
            @include flex(row, space-around, center);
            padding-bottom: 5%;
        }
    }
    .rights {
        display: flex;
        @include flex(row, center, center);
        padding: 1.5% 0;
        background-color: $colorplum;
    }
}
