@import "../vars";
@import "../template";
.container {
    display: grid;
    grid-template: 8% 1fr 8% / 100%;
    min-height: 100vh;
    @include _tablet {
        grid-template: 5% 1fr 5% / 100%;
    }
    @include _mobile {
        grid-template: 5% 1fr 3% / 100%;
    }
}
.header {

    grid-template: 65% 35%/ 100%;
    @include _mobile {
        grid-template: 50% 50%/ 100%;
    }

    .header__contacts {
        grid-template: 100% / 1fr 1.5fr 1fr;
        gap: 1%;
        @include _tablet {
            grid-template: 100% / 2fr 1fr 2fr;
            @include font($font, 80%, $colorplum, 700);
        }
        @include _mobile {
            @include font($font, 50%, $colorplum, 700);
        }
    }

    // .header__phone {
    //     font-size: 80%;
    // }
    // .header__address {
    //     font-size: 78%;
    // }

    .header__nav {
        border-bottom: 1px solid $colorbrown;
        @include _mobile {
            @include font($font, 65%, $colorplum, 700);
        }
    }
    .logo__img {
        width: 100%;
    }
    .logo__img-short {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.main {
    padding: 2% 5%;
}

.text {
    display: flex;
    @include flex(column, center, center);
    @include font($font, 100%, $colorplum, 500);
    line-height: 2;
    @include font($font, 120%, $colorplum, 400);
    @include _tablet {
        font-size: 100%;
    }
    @include _mobile {
        font-size: 80%;
    }
    a {
        color: blue;
    }
    .main__subtitle {
        margin-top: 2%;
        @include font($font, 120%, $colorplum, 700);
        @include _tablet {
            font-size: 100%;
        }
        @include _mobile {
            font-size: 80%;
        }
    }
    .text__subtext {
        text-indent: 50px;
        text-align: justify;
        hyphens: auto;
    }
    .text__list {
        @include font($font, 100%, $colorplum, 300);
    }
}
.text__info {
    padding-top: 3%;
}
ol {
    text-align: justify;
    hyphens: auto;
    padding: 1% 0 0 3%;
    text-indent: 10px;
}

.footer {
    display: flex;
    @include flex(column, flex-end, flex-end);

    .information {
        display: grid;
        grid-template-columns: 6fr 1fr 6fr;
        width: 100%;
        .information-block {
            display: flex;
            @include flex(row, space-around, center);
            padding: 0 2%;

            padding-bottom: 5%;
            @include _mobile {
                padding-bottom: 15%;
            }
        }
        .information__logo {
            width: 100%;
            padding-bottom: 5%;
            @include _mobile {

                display: none;
            }
        }
    }
    .rights {
        display: flex;
        @include flex(row, center, center);
        padding: 1.5% 0;
        width: 100%;
        background-color: $colorplum;
        color: $colorwhite;
    }
}

